{% block content %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Monda|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static  'css/styles.css' %}">

  <!--NAVBAR STARTS-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="MODSY">
        <img src="/static/images/logo.png" width="40" height="40" alt="">
      </a>
    </nav>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#"><b>How it works? <span class="sr-only">(current)</span></b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Pricing</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Style quiz</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Examples</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Blog</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><b>FAQ</b></a>
        </li>
      </ul>
    </div>
  </nav>
  <!--NAVBAR ENDS-->
 </head>
 <body>
  <script>
  
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '660764701446374',
      cookie     : true,
      xfbml      : true,
      version    : 'v4'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</script>
  <div class="container20">
    <section id="register" class="bg-light py-5">
      <!--Success message-->
      <center>
        {% if messages %}
        <div class="messages mb-3 bg-white ">
          {% for message in messages %}
          <div class="{{ message.tags }}"><h5>{{ message }}</h5></li>
            {% endfor %}
          </div>
          {% endif %}
        </center>
        <!-- Success message ends-->

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header text-white" style="background-color:#000080;">
          <h4><i class="fas fa-user-plus" ></i>Login</h4>
        </div>
        <div class="card-body">
          <!-- Form Starts-->
          <form action="{% url 'modsy:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" class="form-control" required>
              <div id="uname_error"></div>
            </div>
            <div class="form-group">
              <label for="password2">Password</label>
              <input type="password" name="password" class="form-control" required>
            </div>
            <div class="button"><input type="submit" value="Login" style="background-color:#000080;" class="btn btn-secondary btn-block">
            <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
            <a href="{% provider_login_url "facebook" method="js_sdk" %}">Login with facebook</a>

          </form>
          <!-- Form ends-->
        </div>
       </div>
      </div>
    </div>
   </div>
  </section>
  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/rooms.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/goals.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/furn.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/time.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/design.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/goal.js' %}"></script>
 </body>
</html>
{% endblock %}