<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Monda|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static  'css/styles.css' %}">

      
      
<!-- NAVBAR starts-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="MODSY">
      <img src="/static/images/logo.png" width="40" height="40" alt="">
    </a>
  </nav>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"><b>How it works? <span class="sr-only">(current)</span></b></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Pricing</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Style quiz</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Examples</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Blog</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>FAQ</b></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/modsy/rooms"><button type="button" class="btn2  mt-1">Start a Project</button></a></li>
    </ul>
  </div>
</nav>
<!-- NAVBAR ENDS-->
<body>
  <center>
    <div class="container-3 mt-5 ml-5">
      <h4><center>Which room are you designing</center></h4>
      <p><center>Designing multiple spaces? Pick the room you want to start with! We'll follow up with additional details once you purchase the multi-room package.</center>
        <!-- Loop for the display of rooms-->
        <div class="row">
          {% for i in room %}
          <div class="col-4"  onclick="getData({{i.id}})">
            <div class="card6 mt-3" id="main_{{i.id}}"  style ="width: 12rem;" >
              <img src="{{i.image.url}}" id = "img_{{i.id}}" alt="..." width="185" height="100">
              <div class="card-body">
                <p class="card-text" id="cont_{{i.id}}"><b>{{i.content}}</b></p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <!--Loop ends-->
        <a class="link mt-3"><u>Dont see your room?</u></a>
      </p>
      <div class="row mb-3">
      <div class="col-4 mr-5">
        <a href="#" class="previous">&laquo; Home </a>
      </div>
      <div class="col-4 ml-5">
        <a href="/modsy/goals" class="next" id="room_next">Next &raquo;</a> </div>
      </div>
    </div>
  </center>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'javascript/rooms.js' %}"></script>
 </body>
</html>