<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{% static "django_private_chat/css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
        <link href="{% static "django_private_chat/css/style.css" %}" rel="stylesheet" type="text/css" media="all">
        <title>{% block title %}{% endblock %}</title>

        {% block css %}{% endblock %}
    </head>
{% block content %}
    <h3>Here you can see users avaliable for chat, excluding yourself (chat with yourself is possible thought):</h3>
    <div class="container">
        {% for user in object_list %}
            {% if user != request.user %}
                <p>{{ user.get_full_name }}</p>
                <a href="{% url 'dialogs_detail' user.username %}" class="btn btn-primary">
                    Chat with {{ user.username }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
     <script src="{% static "django_private_chat/js/jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "django_private_chat/js/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "django_private_chat/js/handlebars-v1.3.0.js" %}" type="text/javascript"></script>
        {% block extra_js %}{% endblock %}

{% endblock %}